In [10]:
import pandas as pd
import json

In [14]:
with open("data/data.json", "r") as infile:
    data = json.load(infile)

In [34]:
df_palavra = pd.DataFrame.from_dict(data["palavra"])
df_complete = pd.DataFrame.from_dict(data["complete"])
df_adivinha = pd.DataFrame.from_dict(data["adivinha"])
df_mimica = pd.DataFrame.from_dict(data["mimica"])

In [36]:
df_palavra = df_palavra[["palavra"]]
df_palavra.head()

    palavra
0
1         A
2    abaixa
3  ABANDONE
4    abismo

In [37]:
df_complete = df_complete[["id", "inicio", "resposta"]]
df_complete.head()

,id,inicio,resposta
0,1,Veja o sol\n Dessa manhã tão cinza\n A tempest...,Castanhos
1,2,Meu corpo viraria sol\n Minha mente viraria ar...,"Chove, chove"
2,3,Tira essa roupa pra que eu possa ver\n Que não...,O mal vive num lar perfeito e sem infiltração
3,4,Estátuas e cofres e paredes pintadas\n Ninguém...,Nada é fácil de entender
4,5,Não mandarei\n Cinzas de rosas\n Nem penso em ...,Os nossos segredos

In [38]:
df_adivinha = df_adivinha[["id", "verse", "artist"]]
df_adivinha.head()

,id,verse,artist
0,1,"E selvagem, selvagem\n Selvagem!",Legião Urbana-Tempo Perdido
1,2,Se o meu corpo virasse sol\n Se a minha mente...,Capital Inicial-Primeiros Erros
2,3,Então diga\n Que não volta mais pra minha vida,"Fresno-Diga, parte 2"
3,4,Meu filho vai ter nome de santo\n Quero o nome...,Legião Urbana-Pais e Filhos
4,5,Perdendo o meu tempo\n A noite inteira,Capital Inicial-À Sua Maneira

In [39]:
df_mimica = df_mimica[["id", "title", "artist"]]
df_mimica.head()

  id            title           artist
0  1    Tempo Perdido    Legião Urbana
1  2  Primeiros Erros  Capital Inicial
2  3    Diga, parte 2           Fresno
3  4    Pais e Filhos    Legião Urbana
4  5    À Sua Maneira  Capital Inicial